<div class="quote-box" style="margin-top: 2rem; text-align: center;">
    <blockquote style="font-style: italic; font-size: 1.1rem;">
        When you've decoded this message and found out from where the quote come from,<br>
        contact me directly with the solution and I'll buy you a coffee ☕:
        <br><br>
        <code>WW91ciBkdXR5IGlzIGFzIHBhaW5mdWwgYSBidXJkZW4gYXMgZXZlciBJIHNlZS4gUGVyaGFwcyBkZWF0aCB3b3VsZCBoYXZlIGJlZW4gZWFzaWVyIGZvciB5b3U=</code>
        <br><br>
    </blockquote>
</div>
